---
layout: "layout"
title: "GP Bleached Board"
---

<% content_for :page_stylesheet do %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
<% end %>

<% content_for :page_javascript do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% @project = data.projects[2] %>

<% content_for :page_meta do %>
  <title>RL Projects: <%= @project.project %></title>
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="image" content=""> -->
  <!-- <meta name="robots" content="noindex,nofollow"> -->
<% end %>

<%= partial "partials/header" %>

<article class="main__post">
  <div class="entry">
    <h1 class="entry__title">
      <%= @project.client %> <%= @project.project %>
    </h1>

    <p class="entry__summary">
      <%= @project.summary %>
    </p>
  </div>

  <section class="richtext">
    <dl>
      <dt>Role</dt>
      <dd>UX research </dd>
      <dd>UI Design</dd>
    </dl>

    <dl>
      <dt>Applied Skills</dt>
      <dd>Sass / Bulma / Bootstrap</dd>
      <dd>Javascript / ES6</dd>
      <dd>Middleman / ERB templating </dd>
      <dd>Github / Firebase</dd>
    </dl>

    <dl>
      <dt>Featured</dt>
      <dd>Sketch component library</dd>
    </dl>


    <h2>Summary</h2>
    <p>Producing a symbol based design system following a UX research phase for a new website.</p>

    <h2>Context</h2>
    <p>Georgia-Pacific is one of the world's leading manufacturers and marketers of building and paper products. Its
      Bleached Board business is a provider of paperboard material that gets converted into items such as paper cups,
      plates, and boxes worldwide.</p>

    <p>Based on previous creative brand work and digital strategy, The Bleached Board website was designed to support
      key stakeholders, end users and business goals. Pixel perfect wireframes, prototypes, and layouts were produced as
      the final deliverable to hand off to GP's development team.</p>

    <h2>Approach</h2>
    <p>To ensure the design intent and UX research found its way to the 3rd part development team, a complete component
      library was assembled. </p>

    <p>Each design pice breaks out into a granular component. These components build off of master variables such as
      type, color, and position. </p>

    <p>The components are then assembled into the design layouts. This allowed the development team to toggle through
      the various states of components beyond a flat rendering.</p>

    <h2>Outcome</h2>
    <p>The component library armed GP’s marketing team with the essential design guide for their website - allowing
      them to confidently proceed with their development vendor.</p>
  </section>
</article>


