---
layout: "layout"
title: "R&Co"
---

<% content_for :page_stylesheet do %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
<% end %>

<% content_for :page_javascript do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<% @project = data.projects[1] %>

<% content_for :page_meta do %>
  <title>RL Projects: <%= @project.project %></title>
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="image" content=""> -->
  <!-- <meta name="robots" content="noindex,nofollow"> -->
<% end %>

<%= partial "partials/header" %>

<article class="main__post">
  <div class="entry">
    <header>
      <h1 class="entry__title">
        <%= @project.client %> <%= @project.project %>
      </h1>
    </header>

    <p class="entry__summary"><%= @project.summary %></p>
  </div>

  <section class="richtext">
    <dl>
      <dt>Role</dt>
      <dd>Front End Development</dd>
    </dl>

    <dl>
      <dt>Applied Skills</dt>
      <dd>Sass / BEM / Bootstrap</dd>
      <dd>Javascript / ES6 class based components</dd>
      <dd>Vagrant</dd>
      <dd>Webpack</dd>
      <dd>Github / Beanstalk</dd>
    </dl>

    <dl>
      <dt>Featured</dt>
      <dd>AJAX modal cart</dd>
    </dl>

    <h2>Context</h2>
    <p>R&amp;Co launched a brand new redesign for their e-commerce website. Although considered a success, there were a
      few key features that lacked finish and good UX. Sometimes this happens due to the nature of strict budget and
      timeline scopes. The good news is its easy to fix with progressive enhancements!</p>

    <h2>Approach</h2>
    <p>Task management and communication are key to make these progressive sprints useful. </p>

    <p>Using Asana, we can easily assign tasks with dates and context. This allows the contracting team to quickly spin
      up on the granular task and the relevant business context. </p>

    <p>Slack is great for cross team communication and regroups. We regroup weekly to update our status on each task,
      surface blockers, and resolve outstanding decisions.</p>

    <p>Development is based on a Vagrant / Webpack stack that easily bootstraps to local dev machines. Once the
      environment is setup, we use Github to setup feature branches. New features are tested on the dev server and rolled
      out to production on deploy.</p>

    <h2>Challenges</h2>
    <p>E-commerce is built on Magento, meaning a monolith of template architecture stands in the way of rapid design
      improvements.</p>

    <h2>Outcome</h2>
    <p>Launched a brand new modal cart experience, driving sales by making product cart actions smoother, quicker, and
      more fun. </p>
  </section>
</article>


