---
layout: "layout"
title: "Entry"
---

<% content_for :page_stylesheet do %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
<% end %>

<% content_for :page_javascript do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<!-- dev helpers -->
<% if false %>
  <%= lorem.sentence() %>
  <%= lorem.words(1) %>
  <%= lorem.word() %>
  <%= lorem.paragraphs(1) %>
  <%= lorem.paragraph() %>
  <%= lorem.date() %>
  <%= lorem.name() %>
  <%= lorem.first_name() %>
  <%= lorem.last_name() %>
  <%= lorem.email() %>

  <%= lorem.image('300x400') %>
  <%= lorem.image('300x400', :background_color => '333', :color => 'fff') %>
  <%= lorem.image('300x400', :random_color => true) %>
  <%= lorem.image('300x400', :text => 'blah') %>
<% end %>

<% @project = data.projects[0] %>

<%= partial "partials/header" %>

<article class="main__post">
  <div class="entry">
    <h1 class="entry__title">
      This <%= lorem.words(1) %> an <%= lorem.words(1) %> <%= lorem.words(1) %>
    </h1>

    <p class="entry__summary">
      <%= truncate(lorem.paragraphs(3), :length => 140) %>
    </p>
  </div>

  <section class="richtext">
    <% 2.times do %>
    <p>
      <%= lorem.paragraphs(1) %>
      <b><%= lorem.words(2) %></b>
      <i><%= lorem.words(3) %></i>
    </p>
    <% end %>

    <h2><%= lorem.sentence() %></h2>

    <p>Odit quod alias cumque totam nostrum cum accusantium voluptates omnis. <a href="#">quos tempore occaecati error sit in libero</a>. ipsum quia deleniti velit qui. sit est minima laudantium quidem ab nobis at aut veritatis temporibus. sapiente consectetur quam nisi facere ex iure</p>
    <ul>
      <li><%= lorem.words(2) %></li>
      <li><%= lorem.words(2) %></li>
      <li><%= lorem.words(2) %></li>
    </ul>

    <div class="syntax">
      <% code("javascript") do %>
        var hello = function yo () {
          return console.log('Hey There!');
        };
      <% end %>
    </div>

    <figure class="figure figure--outside">
      <%= image_tag  "figure-stakeholders.png", :class => "figure__img" %>
      <figcaption class="figure__caption">
        <%= lorem.sentence() %>
      </figcaption>
    </figure>

    <p><%= lorem.paragraphs(1) %></p>
    <ol>
      <li><%= lorem.words(2) %></li>
      <li><%= lorem.words(2) %></li>
      <li><%= lorem.words(2) %></li>
    </ol>

    <% 2.times do %>
    <p>
      <%= lorem.paragraphs(1) %>
      <b><%= lorem.words(2) %></b>
      <i><%= lorem.words(3) %></i>
    </p>
    <% end %>



  </section>
</article>


