---
layout: "layout"
---

<% content_for :page_stylesheet do %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
<% end %>

<% content_for :page_javascript do %>
  <%= javascript_include_tag 'application' %>
<% end %>

<!-- dev helpers -->
<% if false %>
  <%= lorem.sentence() %>
  <%= lorem.words(1) %>
  <%= lorem.word() %>
  <%= lorem.paragraphs(1) %>
  <%= lorem.paragraph() %>
  <%= lorem.date() %>
  <%= lorem.name() %>
  <%= lorem.first_name() %>
  <%= lorem.last_name() %>
  <%= lorem.email() %>

  <%= truncate(lorem.paragraphs(3), :length => 140) %>

  <%= lorem.image('300x400') %>
  <%= lorem.image('300x400', :background_color => '333', :color => 'fff') %>
  <%= lorem.image('300x400', :random_color => true) %>
  <%= lorem.image('300x400', :text => 'blah') %>
<% end %>

<% @projects = data.projects %>

<% content_for :page_meta do %>
  <title>RL</title>
  <!-- <meta name="description" content=""> -->
  <!-- <meta name="image" content=""> -->
  <!-- <meta name="robots" content="noindex,nofollow"> -->
<% end %>

<%= partial "partials/header" %>

<section class="main__index">
  <ul class="entry__index">
    <% @projects.each_with_index do |entry, index| %>
    <li>
      <div class="entry">
        <h2 class="entry__title">
          <% link_to "/projects/#{entry.uri}", :class => "entry__link" do %>
            <%= entry.client %>: <%= entry.project %>
          </a>
          <% end %>
        </h2>

        <p class="entry__summary">
          <a href="#" class="entry__link">
            <%= entry.summary %>
          </a>
        </p>

        <ul class="tag__index">
          <% entry.role.each_with_index do |entry, index| %>
          <li>
            <a class="tag" href="#"><%= entry %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </li>
    <% end %>
  </ul>
</section>
